@page
@model DeveloperPortal.Pages.Applicant.ContactMethodsModel

<div class="form-partial-container">
    <div class="app-form-heading">
        <h2>Contact Methods</h2>
    </div>
    <hr />

    <div class="text-danger" style="padding-bottom:3%">
        All fields marked with an asterisk <span aria-hidden="true">(*)</span> are required!
    </div>

    <fieldset>
        <legend class="app-form-heading">Phone Number</legend>
        <div class="row">
            <div class="col-md-4">
                @Html.Label("","Phone Type")
                @Html.Label("", "*", new {@class = "asterisk"})
            </div>
            <div class="col-md-4">
                @Html.Label("","Phone Number")
                @Html.Label("", "*", new {@class = "asterisk"})
            </div>
            <div class="col-md-4">
                @Html.Label("","Extension")
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.DropDownList("PhoneType", new List<SelectListItem>{
                new SelectListItem(text:"Select a Phone Type", value:"0")
                },null, new {@class="form-control"})
            </div>
            <div class="col-md-4">
                @Html.TextBox("PhoneNumber","", new { @class = "form-control"})
            </div>
            <div class="col-md-4">
                @Html.TextBox("Extension","", new { @class = "form-control"})
            </div>
        </div>
    </fieldset>
    <hr />
    <fieldset>
        <legend class="app-form-heading">Mailing Address</legend>
        <div class="form_body">
            <div class="row align-items-baseline">
                <div class="col-md-12">
                    @Html.Label("", "P.O.Box?", new { @class = "app-input-descr control-label required-label font-weight-bold" })
                    @Html.Label("", "*", new {@class = "asterisk"})
                </div>
                <div class="col-md-12">
                    @Html.RadioButton("POBox", "No") No
                    @Html.RadioButton("POBox", "Yes") Yes
                </div>
            </div>
            <div id="divPOBoxNo" style="width:100%">

                <div class="row align-items-baseline">
                    <div class="col-md-12">
                        @Html.Label("", "Street Number", new { @class = "app-input-descr control-label required-label font-weight-bold" })
                        @Html.Label("", "*", new {@class = "asterisk"})
                    </div>
                    <div class="col-md-12">
                        @Html.TextBox("StreetNumber","", new { @class = "form-control"})
                    </div>
                </div>
                <div class="row align-items-baseline">
                    <div class="col-md-12">
                        @Html.Label("", "Street Direction", new { @class = "app-input-descr control-label required-label font-weight-bold" })
                    </div>
                    <div class="col-md-12">
                        @Html.DropDownList("StreetDirection", new List<SelectListItem>{
                        new SelectListItem(text:"Select a Direction", value:"0")
                        },null, new {@class="form-control"})
                    </div>
                </div>
                <div class="row align-items-baseline">
                    <div class="col-md-12">
                        @Html.Label("", "Street Name", new { @class = "app-input-descr control-label required-label font-weight-bold" })
                        @Html.Label("", "*", new {@class = "asterisk"})
                    </div>
                    <div class="col-md-12">
                        @Html.TextBox("StreetName","", new { @class = "form-control"})
                    </div>
                </div>
                <div class="row align-items-baseline">
                    <div class="col-md-12">
                        @Html.Label("", "Street Type", new { @class = "app-input-descr control-label required-label font-weight-bold" })
                    </div>
                    <div class="col-md-12">
                        @Html.TextBox("StreetType","", new { @class = "form-control"})
                    </div>
                </div>
                <div class="row align-items-baseline">
                    <div class="col-md-12">
                        @Html.Label("", "Unit Number", new { @class = "app-input-descr control-label required-label font-weight-bold" })
                    </div>
                    <div class="col-md-12">
                        @Html.TextBox("UnitNumber","", new { @class = "form-control"})
                    </div>
                </div>

            </div>
            <div id="divPOBoxYes">
                <div class="col-md-12 padding-zero">
                    @Html.Label("", "P.O.Box", new { @class = "app-input-descr control-label required-label font-weight-bold" })
                    @Html.Label("", "*", new {@class = "asterisk"})
                </div>
                <div class="col-md-12 padding-zero">
                    @Html.TextBox("POBoxNumber","", new { @class = "form-control"})
                </div>
            </div>
            <div class="row align-items-baseline">
                <div class="col-md-12">
                    @Html.Label("", "City", new { @class = "app-input-descr control-label required-label font-weight-bold" })
                    @Html.Label("", "*", new {@class = "asterisk"})
                </div>
                <div class="col-md-12">
                    @Html.TextBox("City","", new { @class = "form-control"})
                </div>
            </div>
            <div class="row align-items-baseline">
                <div class="col-md-12">
                    @Html.Label("", "State", new { @class = "app-input-descr control-label required-label font-weight-bold" })
                    @Html.Label("", "*", new {@class = "asterisk"})
                </div>
                <div class="col-md-12">
                    @Html.DropDownList("State", new List<SelectListItem>{
                    new SelectListItem(text:"Select a State", value:"0")},null, new {@class="form-control"})
                </div>
            </div>
            <div class="row align-items-baseline">
                <div class="col-md-12">
                    @Html.Label("", "Zip Code", new { @class = "app-input-descr control-label required-label font-weight-bold" })
                    @Html.Label("", "*", new {@class = "asterisk"})
                </div>
                <div class="col-md-12">
                    @Html.TextBox("ZipCode","", new { @class = "form-control"})
                </div>
            </div>
            <hr />
            <div class="row" style="padding-bottom:5%">
                <div class="col-md-4">
                    <button class="btn-primary-outline prevBtn float-left btn-secondary-custom">Back</button>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button class="main-btn nextBtn float-right">Next</button>
                </div>
            </div>
        </div>
    </fieldset>
</div>
<script>
    $(document).ready(function () {
        InitializeContactMethods();

        $('#PhoneNumber').on('keyup', function () {
            ValidatePhone('PhoneNumber');
        });

        $('input[type=radio][name=POBox]').on('click', function () {
            OnPOBoxChanged();
        });
        

        //$('#POBox').click('OnPOBoxChanged');
    });
</script>

