@page
@model DeveloperPortal.Pages.Applicant.CreateAccountModel

<div class="form-partial-container">
    <div class="app-form-heading">
        <h2>Your Information</h2>
    </div>
    <hr />

    <div class="text-danger" style="padding-bottom:3%">
        All fields marked with an asterisk <span aria-hidden="true">(*)</span> are required!
    </div>

    <fieldset>
        <div class="form_body">
            <div class="row align-items-baseline">
                <div class="col-md-12">
                    @Html.Label("", "Your Name", new { @class = "app-input-descr control-label required-label font-weight-bold" })
                    @Html.Label("", "*", new {@class = "asterisk"})
                </div>
                <div class="col-md-12">
                    @Html.TextBox("FirstName","", new { @class = "form-control"})
                </div>
            </div>
            <div class="row align-items-baseline">
                <div class="col-md-12">
                    @Html.Label("", "Middle Name", new { @class = "app-input-descr control-label required-label font-weight-bold" })
                </div>
                <div class="col-md-12">
                    @Html.TextBox("MiddleName","", new { @class = "form-control"})
                </div>
            </div>
            <div class="row align-items-baseline">
                <div class="col-md-12">
                    @Html.Label("", "Last Name", new { @class = "app-input-descr control-label required-label font-weight-bold" })
                    @Html.Label("", "*", new {@class = "asterisk"})
                </div>
                <div class="col-md-12">
                    @Html.TextBox("LastName","", new { @class = "form-control"})
                </div>
            </div>

        </div>
    </fieldset>
    <hr />
    <fieldset>
        <legend class="app-form-heading">Company Information</legend>
        <div class="form_body">
            <div class="row align-items-baseline">
                <div class="col-md-12">
                    @Html.Label("", "Company Name", new { @class = "app-input-descr control-label required-label font-weight-bold" })
                    @Html.Label("", "*", new {@class = "asterisk"})
                </div>
                <div class="col-md-12">
                    @Html.TextBox("CompanyName","", new { @class = "form-control"})
                </div>
            </div>
            <div class="row align-items-baseline">
                <div class="col-md-12">
                    @Html.Label("", "Title", new { @class = "app-input-descr control-label required-label font-weight-bold" })
                    @Html.Label("", "*", new {@class = "asterisk"})
                </div>
                <div class="col-md-12">
                    @Html.TextBox("Title","", new { @class = "form-control"})
                </div>
            </div>
        </div>
    </fieldset>
    <hr />
    <fieldset>
        <legend class="app-form-heading">Login ID and Password</legend>
        <div class="form_body">
            <div class="row align-items-baseline">
                <div class="col-md-12">
                    @Html.Label("", "Email", new { @class = "app-input-descr control-label required-label font-weight-bold" })
                    @Html.Label("", "*", new {@class = "asterisk"})
                </div>
                <div class="col-md-12">
                    @Html.TextBox("Email","", new { @class = "form-control"})
                </div>
            </div>
            <div class="row align-items-baseline">
                <div class="col-md-12">
                    @Html.Label("", "Password", new { @class = "app-input-descr control-label required-label font-weight-bold" })
                    @Html.Label("", "*", new {@class = "asterisk"})
                </div>
                <div class="col-md-12">
                    @Html.Password("Password","", new { @class = "form-control"})
                </div>
            </div>
            <div class="row align-items-baseline">
                <div class="col-md-12">
                    @Html.Label("", "Confirm Password", new { @class = "app-input-descr control-label required-label font-weight-bold" })
                    @Html.Label("", "*", new {@class = "asterisk"})
                </div>
                <div class="col-md-12">
                    @Html.Password("ConfirmPassword","", new { @class = "form-control"})
                </div>
            </div>

            <div class="app-input-descr app-sub-input-descr">
                <label for="showpass" class="float-right">
                    <input type="checkbox" value="" class="app-big-checkbox" id="showpass" onclick="showhidepasswords()">
                    Show password
                </label>
            </div>

            <div class="app-input-descr app-sub-input-descr">
                <label for="termsandconditions">
                    <input type="checkbox" value="" class="app-big-checkbox" id="termsandconditions">
                    I agree to the <a href="#" style="text-decoration:underline">Terms and Conditions</a> @Html.Label("", "*", new {@class = "asterisk"})
                    <span class="fa fa-external-link" style="font-family: 'Font Awesome 5 Free';"></span>
                </label>
            </div>
            <div>
            </div>
        </div>
    </fieldset>
    <hr />
    <div class="col-md-12" style="padding-bottom:5%">
        <button class="main-btn float-right">Next</button>
    </div>
</div>

@{
}
