@page
@model DeveloperPortal.Pages.Applicant.SummaryModel

<div class="form-partial-container">
    <div class="app-form-heading">
        <h2>Summary</h2>
    </div>
    <hr />

    <fieldset>
        <div class="row align-items-baseline">
            <div class="col-md-6">
                <legend class="app-form-heading">Your Information</legend>
            </div>
            <div class="col-md-6 float-right">
                <button id="btn" class="btn-primary-outline float-right edit-button">Edit</button>
            </div>
        </div>
        <div class="row align-items-baseline">
            <div class="col-md-12">
                @Html.Label("", "Name", new { @class = "app-input-descr control-label required-label font-weight-bold" })
            </div>
            <div class="col-md-12">
                <span id="spnName"></span>
            </div>
        </div>
        
        <div class="row align-items-baseline">
            <div class="col-md-12">
                @Html.Label("", "Company Name", new { @class = "app-input-descr control-label required-label font-weight-bold" })
            </div>
            <div class="col-md-12">
                <span id="spnCompanyName"></span>
            </div>
        </div>
        <div class="row align-items-baseline">
            <div class="col-md-12">
                @Html.Label("", "Title", new { @class = "app-input-descr control-label required-label font-weight-bold" })
            </div>
            <div class="col-md-12">
                <span id="spnTitle"></span>
            </div>
        </div>
        <div class="row align-items-baseline">
            <div class="col-md-12">
                @Html.Label("", "Login Id", new { @class = "app-input-descr control-label required-label font-weight-bold" })
            </div>
            <div class="col-md-12">
                <span id="spnLoginId"></span>
            </div>
        </div>
    </fieldset>
    <hr />
    <fieldset>
        <div class="row align-items-baseline">
            <div class="col-md-6">
                <legend class="app-form-heading">Contact Methods</legend>
            </div>
            <div class="col-md-6 float-right">
                <button id="btn" class="btn-primary-outline float-right edit-button">Edit</button>
            </div>
        </div>
        <div class="row align-items-baseline">
            <div class="col-md-12">
                @Html.Label("", "Phone Number", new { @class = "app-input-descr control-label required-label font-weight-bold" })
            </div>
            <div class="col-md-12">
                <span id="spnPhoneNumber"></span><span id="spnExtnLabel" style="padding-left:5px;display:inline-block">Extn.</span><span id="spnExtn" style="display:inline-block">Extn:</span>
            </div>
        </div>
        <div class="row align-items-baseline">
            <div class="col-md-12">
                @Html.Label("", "Mailing Address", new { @class = "app-input-descr control-label required-label font-weight-bold" })
            </div>
            <div class="col-md-12">
                <span id="spnMailingAddress1" style="display:block"></span>
                <span id="spnMailingAddress2" style="display:block"></span>
            </div>
        </div>
    </fieldset>
    <hr />
    <fieldset>
        <div class="row align-items-baseline">
            <div class="col-md-6">
                <legend class="app-form-heading">Project Registration</legend>
            </div>
            <div class="col-md-6 float-right">
                <button id="btn" class="btn-primary-outline float-right edit-button">Edit</button>
            </div>
        </div>
        <div class="col-md-12" id="divProjectsSummary">
            
        </div>
    </fieldset>
    <hr />
    <div class="row" style="padding-bottom:5%">
        <div class="col-md-4">
            <button class="btn-primary-outline prevBtn float-left btn-secondary-custom">Back</button>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button type="button" class="main-btn nextBtn float-right" id="btnSubmit">Submit</button>            
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        console.log('Summary');
        //Your Information data
        var yourInfo = localStorage.getItem('YourInfo');
        if(yourInfo != undefined){
            var json = JSON.parse(yourInfo);
            console.log(json);
        }
        else{ console.log('empty json');}
    });
</script>
@{
}
