@page
@model DeveloperPortal.Pages.Account.MyAccountModel

<div class="container mt-4">
    <div class="card shadow-sm p-4" style="max-width: 900px; margin: auto;">
        <h4 class="mb-4 fw-bold">My Account</h4>

        <div class="alert alert-success d-none" id="successMsg"></div>

        <form id="myAccountForm" method="post">
            @Html.AntiForgeryToken()

            <div class="row g-3">

                <div class="col-md-4">
                    <label>First Name *</label>
                    <input name="FirstName" class="form-control" value="@Model.Account.FirstName" />
                </div>

                <div class="col-md-4">
                    <label>Middle Name</label>
                    <input name="MiddleName" class="form-control" value="@Model.Account.MiddleName" />
                </div>

                <div class="col-md-4">
                    <label>Last Name *</label>
                    <input name="LastName" class="form-control" value="@Model.Account.LastName" />
                </div>

                <div class="col-md-6">
                    <label>Email *</label>
                    <input name="EmailId" class="form-control" value="@Model.Account.EmailId" />
                </div>

                <div class="col-md-3">
                    <label>Phone Type *</label>
                    <select name="LutPhoneTypeCd" class="form-control">
                        @foreach (var type in Model.Account.LutPhoneTypeCdList)
                        {
                            @Html.Raw($"<option value='{type.LutPhoneTypeCd}' {(type.LutPhoneTypeCd == Model.Account.LutPhoneTypeCd ? "selected" : "")}>{type.Description}</option>")
                        }
                    </select>
                </div>

                <div class="col-md-3">
                    <label>Phone Number *</label>
                    <input name="PhoneNumber" class="form-control" value="@Model.Account.PhoneNumber" />
                </div>
                <div class="col-md-2">
                    <label for="Extension">Extension</label>
                    <input name="PhoneExtension" class="form-control" value="@Model.Account.PhoneExtension" />
                </div>
                <div class="col-md-6">
                    <label>Company *</label>
                    <input name="Company" class="form-control" value="@Model.Account.Company" />
                </div>

                <div class="col-md-6">
                    <label>Title *</label>
                    <input name="Title" class="form-control" value="@Model.Account.Title" />
                </div>

                <div class="col-md-12 mt-3">
                    <label>P.O.Box?</label><br />
                    <label><input type="radio" name="IsPostBox" value="false" @(Model.Account.IsPostBox ? "" : "checked") /> No</label>
                    <label><input type="radio" name="IsPostBox" value="true" @(Model.Account.IsPostBox ? "checked" : "") /> Yes</label>
                </div>

                <!-- If POBox = No -->
                <div id="divPOBoxNo" class="col-md-12">
                    <div class="row g-3 mt-1">
                        <div class="col-md-6">
                            <label>Street Number *</label>
                            <input name="StreetNumber" class="form-control" value="@Model.Account.StreetName" />
                        </div>

                        <div class="col-md-6">
                            <label>Pre Direction *</label>
                            <select name="LutPhoneTypeCd" class="form-control">
                                @foreach (var type in Model.Account.LutPreDirCdList)
                                {
                                    @Html.Raw($"<option value='{type.LutPreDirCD}' {(type.LutPreDirCD == Model.Account.LutPreDirCd ? "selected" : "")}>{type.LutPreDirCD}</option>")
                                }
                            </select>
                        </div>

                        @* <div class="col-md-6">
                            <label>Pre Direction *</label>
                            @Html.DropDownListFor(
                                     model => model.Account.LutPreDirCd,
                                     new SelectList(Model.Account.LutPreDirCdList, "LutPreDirCD", "LutPreDirCD", Model.Account.LutPreDirCd),
                                     "-- Select Direction --",
                                     new { @class = "form-control" }
                                     )
                        </div> *@

                        <div class="col-md-6">
                            <label>Street Name *</label>
                            <input name="StreetName" class="form-control" value="@Model.Account.StreetName" />
                        </div>

                        <div class="col-md-6">
                            <label>Street Type *</label>
                            <select name="LutPhoneTypeCd" class="form-control">
                                @foreach (var type in Model.Account.LutStreetTypeList)
                                {
                                    @Html.Raw($"<option value='{type.LutStreetTypeCd}' {(type.LutStreetTypeCd == Model.Account.LutStreetTypeCd ? "selected" : "")}>{type.LutStreetTypeCd}</option>")
                                }
                            </select>
                        </div>


                        @* <div class="col-md-6">
                            <label>Street Type *</label>
                            @Html.DropDownListFor(
                                     model => model.Account.LutStreetTypeCD,
                                     new SelectList(Model.Account.LutStreetTypeList, "LutStreetTypeCd", "LutStreetTypeCd"),
                                     new { @class = "form-control" }
                                     )

                        </div> *@
                        <div class="col-md-6">
                            <label>Unit Number</label>
                            <input name="UnitNumber" class="form-control" value="@Model.Account.UnitNumber" />
                        </div>
                    </div>
                </div>

                <!-- If POBox = Yes -->
                <div id="divPOBoxYes" class="col-md-12 d-none mt-3">
                    <label>P.O.Box Number *</label>
                    <input name="POBoxNumber" class="form-control" value="@Model.Account.PostBoxNum" />
                </div>

                <!-- Common fields -->
                <div class="col-md-6">
                    <label>City *</label>
                    <input name="City" class="form-control" value="@Model.Account.City" />
                </div>
                <div class="col-md-3">
                    <label>State *</label>
                   @*  @Html.DropDownListFor(
                             model => model.Account.LutStateCD,
                             new SelectList(Model.Account.LutStateCDList, "LutStateCd", "Description", Model.Account.LutStateCD),
                             "-- Select State --",
                             new { @class = "form-control" }
                             )
 *@
                </div>
                <div class="col-md-3">
                    <label>Zip Code *</label>
                    <input name="ZipCode" class="form-control" value="@Model.Account.ZipCode" />
                </div>

               

            

                <div class="col-12 text-end mt-4">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#myAccountForm').on('submit', function (e) {
                e.preventDefault();

                var token = $('input[name="__RequestVerificationToken"]').val();

                var formData = {};
                $(this).serializeArray().forEach(function (item) {
                    formData[item.name] = item.value;
                });
                formData.__RequestVerificationToken = token;

                $.ajax({
                    url: '/Account/MyAccount?handler=Update',
                    type: 'POST',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: formData,
                    success: function (res) {
                        console.log("✅ Success", res);
                        $("#successMsg").text("Account updated successfully!").removeClass("d-none");
                    },
                    error: function (xhr) {
                        console.error("❌ Error", xhr.status, xhr.responseText);
                    }
                });
            });
        });
    </script>
}
