@page
@model DeveloperPortal.Pages.Account.SummaryModel

<div class="form-partial-container" style="color: black;">
    <div class="app-form-heading">
        <h2 class="signup-step-header" style="margin-bottom: 2em;">Summary</h2>
    </div>
    <fieldset style="margin-bottom: 2em;">
        <div class="row align-items-center">
            <div class="col-md-6">
                <legend class="app-form-heading">Your Information</legend>
            </div>
            <div class="col-md-6 float-right">
                <button id="btnEditYourInfo" class="btn-primary-outline float-right edit-button">Edit</button>
            </div>
        </div>
        <div class="row align-items-baseline">
            <div class="col-md-12">
                @Html.Label("", "Name", new { @class = "app-input-descr control-label required-label font-weight-bold" })
            </div>
            <div class="col-md-12">
                <span id="spnName"></span>
            </div>
        </div>
        
        <div class="row align-items-baseline">
            <div class="col-md-12">
                @Html.Label("", "Company Name", new { @class = "app-input-descr control-label required-label font-weight-bold" })
            </div>
            <div class="col-md-12">
                <span id="spnCompanyName"></span>
            </div>
        </div>
        <div class="row align-items-baseline">
            <div class="col-md-12">
                @Html.Label("", "Title", new { @class = "app-input-descr control-label required-label font-weight-bold" })
            </div>
            <div class="col-md-12">
                <span id="spnTitle"></span>
            </div>
        </div>
        <div class="row align-items-baseline">
            <div class="col-md-12">
                @Html.Label("", "Login Id", new { @class = "app-input-descr control-label required-label font-weight-bold" })
            </div>
            <div class="col-md-12">
                <span id="spnLoginId"></span>
            </div>
        </div>
    </fieldset>

    <hr style="margin-bottom: 4em;">

    <fieldset style="margin-bottom: 2em;">
        <div class="row align-items-center">
            <div class="col-md-6">
                <legend class="app-form-heading">Contact Methods</legend>
            </div>
            <div class="col-md-6 float-right">
                <button id="btnEditContactMethods" class="btn-primary-outline float-right edit-button">Edit</button>
            </div>
        </div>
        <div class="row align-items-baseline">
            <div class="col-md-12">
                @Html.Label("", "Phone Number", new { @class = "app-input-descr control-label required-label font-weight-bold" })
            </div>
            <div class="col-md-12">
                <span id="spnPhoneNumber"></span><span id="spnExtnLabel" style="padding-left:5px;display:inline-block">Extn.</span><span id="spnExtn" style="display:inline-block">Extn:</span>
            </div>
        </div>
        <div class="row align-items-baseline">
            <div class="col-md-12">
                @Html.Label("", "Mailing Address", new { @class = "app-input-descr control-label required-label font-weight-bold" })
            </div>
            <div class="col-md-12">
                <span id="spnMailingAddress1" style="display:block"></span>
                <span id="spnMailingAddress2" style="display:block"></span>
            </div>
        </div>
    </fieldset>

    <hr style="margin-bottom: 4em;">

  @*   <fieldset style="margin-bottom: 5em;">
        <div class="row align-items-center">
            <div class="col-md-6">
                <legend class="app-form-heading">Project Registration</legend>
            </div>
            <div class="col-md-6 float-right">
                <button id="btnEditProjectRegistration" class="btn-primary-outline float-right edit-button">Edit</button>
            </div>
        </div>
        <div class="col-md-12" id="divProjectsSummary">
            
        </div>
    </fieldset> *@

    <div class="row" style="padding-bottom:5%">
        <div class="col-md-4">
            <button class="btn-primary-outline prevBtn float-left">Back</button>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button type="button" class="main-btn float-right" id="btnSubmit">Submit</button>
        </div>
    </div>
</div>

<script>
     $(document).ready(function(){ 
         console.log('summary'); 

         $('#btnEditYourInfo').on('click', function () { $('a[href="#step-1"]').click() }) 
         $('#btnEditContactMethods').on('click', function () { $('a[href="#step-2"]').click(); }) 
         $('#btnEditProjectRegistration').on('click', function () { $('a[href="#step-3"]').click(); })

        $('#btnSubmit').on('click', function(){
           var applicantJson = localStorage.getItem('ApplicantJson');

             $.ajax({
              url: APPURL + "/Account/XDebugCreateAccount",
                type: 'POST',
                contentType: 'application/json',
               data: applicantJson,
               success: function (data) {
                    localStorage.setItem('ApplicantJson', '');
                    $('#successModal').fadeIn();
                    $('#goToDashboardBtn').on('click', function () {
                        window.location.href = "/Dashboard";
                    });
                },
               error: function (xhr, status, error) {
                   console.error("AJAX error:", status, error);
                   console.error("Response:", xhr.responseText);
               }
            });
        });
     });
</script>


@*ORIGINAL SCRIPT*@
@* <script>
    $(document).ready(function(){
        console.log('Summary');

        $('#btnEditYourInfo').on('click', function () { $('a[href="#step-1"]').click() })
        $('#btnEditContactMethods').on('click', function () { $('a[href="#step-2"]').click(); })
        $('#btnEditProjectRegistration').on('click', function () { $('a[href="#step-3"]').click(); })

        //Your Information data
        $('#btnSubmit').on('click', function(){

            var applicantJson = localStorage.getItem('ApplicantJson');
            var stringifiedJson = JSON.stringify(applicantJson);

            $.ajax({
                url: "/Account/CreateAccount",
                type: 'POST',
                async: false,
                dataType: 'json',
                contentType: 'application/json',
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                },
                data: "data=" + stringifiedJson,
                success: function (data) {
                    console.log('response from controller: ' + data);
                    alert('success');
                    localStorage.setItem('ApplicantJson', '');
                    window.location.href = "/Account/Landing";
                },
                error: function (xhr) { }
            });
        });//button click
    });//ready
</script> *@
