@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    DeveloperPortal.Models.IDM.UserSession usr = DeveloperPortal.Models.IDM.UserSession.GetUserSession(HttpContextAccessor.HttpContext);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <title>@ViewData["Title"] - DeveloperPortal</title>
    <link href="~/css/font-awesont-icons/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DeveloperPortal.styles.css" asp-append-version="true" />
    <link href="~/content/font-awesome.css" rel="stylesheet" />


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/enyo/dropzone/master/dist/dropzone.css">
    <link href="https://kendo.cdn.telerik.com/themes/6.6.0/default/default-main.css" rel="stylesheet" />
    <link href="~/content/kendocss/kendo.custom.css" rel="stylesheet" />

    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script>
        //CurrentScroll();
        NewScroll();

        function CurrentScroll(){
            document.addEventListener('scroll', function (e) {
                var developerPortalNavBar = document.getElementById('developerPortalNavBar');
                lastKnownScrollPosition = window.scrollY;
                if (lastKnownScrollPosition > 98) {
                    developerPortalNavBar.style.top = "0px";
                } else {
                    developerPortalNavBar.style.top = "101px";
                }
            });
        }

        function NewScroll(){
            $(window).scroll(function(){
                var navBar = $('#developerPortalNavBar');
                var lastKnownScrollPosition = $(window).scrollTop();

                if (lastKnownScrollPosition > 98) {
                    $(navBar).css('top', "0px");
                } else {
                    var scrollPos = 101 - lastKnownScrollPosition;
                    $(navBar).css('top', scrollPos + "px");
                }
            });
        }
             function showMessage(title,message, type)
        {
            $("#cMatrixMessageTitle").html(title);
            $("#cMatrixMessageBody").html(message);
            $("#complienceMatrixMessage").modal('show');
        }
    </script>

</head>
<body>
    <script src="//navbar.lacity.org/global_nav.js"></script>
    <header id="header-navs">
        <div class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow topNavBar">
            <div class="navbarContainer topNavBar-container">
                <div class="navbar-header">
                    <div class="navBarIdentity">
                        <a class="navBarIdentityHome navbar-brand" href="/">
                            <img src="~/logo.png" />
                        </a>
                        <span class="navBarTitle"> ACHP Construction Portal</span>
                    </div>
                    <div class="navBar-decor"></div>
                </div>
            </div>
        </div>
        <div id="developerPortalNavBar" class="navbar-expand-sm navbar-dark bottomNavBar">
            <div id="leftMenu collapse navbar-collapse">
                <ul class="navbar-nav botNav-left-hide">
                    <li class="nav-item navItem-decor">
                        <a class="nav-link nav-link-basic" href='~/dashboard'>
                            Dashboard
                        </a>
                    </li>
                        <li class="nav-item navItem-decor">
                        <a class="nav-link nav-link-basic" href='~/PlanReview'>
                            PlanReview
                        </a>
                    </li>
                </ul>
            </div>
            <div id="rightMenu">
                <div class="SignInContatiner">
                    <partial name="_LoginPartial" />
                    @if (usr.UserID == 0)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Sign up", "SignUp", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            <li>@Html.ActionLink("Sign in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        </ul>
                    }
                </div>
            </div>
        </div>
    </header>
    <div class="container body-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="max-width: 100%; padding: 0px;">
            <partial name="_StandardAppFooter" />
        </div>
    </footer>


    <!-- Modal Popup Start-->
    <div class="modal" id="ActioModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header comcom-header">
                    <h1 class="modal-title ActioModalTitle popup-title" id="myModalLabel"></h1>

                    <button type="button" class="close " data-bs-dismiss="modal hide" aria-label="Close"><i class="far fa-times-circle"></i></button>

                </div>
                <div class="modal-body comcom-body" style="padding:0">
                    <div class="ActioModalBody">
                    </div>
                    <!-- Render Action Partial -->
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="complienceMatrixMessage" tabindex="-1" role="dialog" aria-labelledby="cMatrixMessageTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered imp-date-dialog" style="width: 450px">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="cMatrixMessageTitle"></h5>
                </div>
                <div class="modal-body" id="cMatrixMessageBody">
                </div>
                <div class="modal-footer singal-button">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" title="Ok">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal PopUp End -->


    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@


    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-multiselect.min.js"></script>
    <script src="~/js/jquery-mask-plugin/jquery.mask.min.js"></script>
    <script src="~/js/CustomValidations.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery-block-ui/blockuicollection.js"></script>
    @* <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap.min.js" type="text/javascript"></script> *@
    <script src="~/js/jquery-block-ui/jquery.blockui.js"></script>
    <script src="~/js/jquery-block-ui/web.mvc.ajax.js"></script>
    <script src="~/js/customcommon.js"></script>
    
    
    @await RenderSectionAsync("Scripts", required: false)

    @Html.Partial("_LoadingOverlay")
</body>
</html>
<script>
    function showLoadingOverlay() {
        document.getElementById("loadingOverlay").style.display = "block";
    }

    function hideLoadingOverlay() {
        document.getElementById("loadingOverlay").style.display = "none";
    }

    // Show on form submission
    document.addEventListener("submit", function (e) {
        const form = e.target;
        if (form.tagName === "FORM") {
            showLoadingOverlay();
        }
    }, true);

    // Show on link clicks
    document.addEventListener("click", function (e) {
        const link = e.target.closest("a");
        if (link && link.href && !link.target && !link.href.startsWith("javascript:")) {
            showLoadingOverlay();
        }
    });

    // Optional: Show for all AJAX calls (jQuery)
    $(document).ajaxStart(function () {
        showLoadingOverlay();
    }).ajaxStop(function () {
        hideLoadingOverlay();
    });
</script>
