<footer class="footer-section noprint" style="display:none">
    <div class="top-section">
        <h2 class="h2">Contact Us</h2>
        <div class="footer-details-section col-lg-8">
            <dl class="dl-horizontal">
                <dt class="fd-child label">Address:</dt>
                <dd class="fd-child notranslate"><address>221 N. Figueroa St. #1400, Los Angeles, CA 90012</address></dd>

                <dt class="fd-child label">Phone:</dt>
                <dd class="fd-child notranslate"><a href="tel:+12138088550">(213) 808-8550</a></dd>

                <dt class="fd-child label">TTY:</dt>
                <dd class="fd-child"><p>Due to technological changes, if TTY is needed to contact us, please use Telecommunication Relay Services (TRS) such as Text-to-Voice TTY-based TRS, Speech-to-Speech Relay Service, Shared Non-English Language Relay Services, Captioned Telephone Service; IP Captioned Telephone Service, Internet Protocol Relay Service, or Video Relay Service or dial 711.</p></dd>

                <dt class="fd-child label">Email:</dt>
                <dd class="fd-child notranslate"><a href="mailto:lahd.achp@lacity.org">lahd.achp@lacity.org</a></dd>
            </dl>
        </div>
    </div>

    <div class="bottom-section">
        <div class="col-lg-6 col-md-12">
            <div style="float: left; margin-right: 1em;">
                <div class="BrowserSupportdivlink">
                </div>
            </div>
            <div class="bottom-section-left">
                <ul>
                    <li><a href="@Url.Action("RenderTab", "Tab", new { @area = "ComCon", tabName = "Site Map" })">Site Map</a></li>
                    <li><a href="@Url.Action("RenderTab", "Tab", new { @area = "ComCon", tabName = "Privacy Policy" })">Privacy Policy</a></li>
                    <li><a href="@Url.Action("RenderTab", "Tab", new { @area = "ComCon", tabName = "Terms and Conditions" })">Terms & Conditions</a></li>
                </ul>
            </div>
        </div>
        <div class="Copyrightsection text-right col-lg-6 pull-right col-md-12">
            <span class="inline-block">&copy;Copyright @DateTime.Now.Year City of Los Angeles</span>
            <span class="inline-block">Los Angeles Housing Department</span>
        </div>
    </div>
</footer>

<footer class="_hcidla-service-portal-footer noprint">

    <div class="_footer-logo">
        @* Eric Kim -alt text has been changed *@
        <img alt="Los Angeles Housing Department" src="~/Images/logo.png" class="_img-responsive">
    </div>
    <div class="_address-contact-subscribe flex-wrap">
        <ul class="_add-cont flex-wrap">
            <li>
                <span>
                    <img src="~/images/location.png" width="12" height="16" alt="" />
                    <span class="_text notranslate">221 N. Figueroa St., 14th Floor, Los Angeles, CA 90012</span>
                </span>
            </li>
            <li hidden>
                <a href="Javascript: void(0);">
                    <img src="~/Images/location.png" width="12" height="16" alt="" />
                    <span class="_text">
                        Customer Service Counters

                    </span>
                </a>
            </li>
            <li hidden>
                <a href="Javascript: void(0);">
                    <img src="~/Images/location.png" width="12" height="16" alt="" />
                    <span class="_text">FamilySource Centers</span>
                </a>
            </li>
            <li>
                <span>
                    <img src="~/images/phone.png" width="14" height="18" alt="" />
                    <span class="_text"><a href="tel:+12138088550" class="blue-link" aria-label="Dial (213) 808-8550">(213) 808-8550</a></span>
                </span>
            </li>
        </ul>
        <a class="_subscribe-button ripple btn btn-primary btn-pill m-0 font-15 ml-auto pl-3 pr-3 mr-4" href="https://housing.lacity.org/about-us/subscribe-to-newsletters">
            <img aria-hidden="true" alt="Subscribe to our Newsletter button" class="_subscribe-icon" src="~/images/newsletter.png" /> <span>
                Subscribe to our Newsletter
            </span>
        </a>
    </div>
    <div class="_Leadership-SocialMedia flex-wrap">
        <ul class="Opportunities-links flex-wrap">
            <li><a href="https://housing.lacity.gov/sitemap">Site Map</a></li>
            <li><a href="https://housing.lacity.gov/about-us/privacy-policy">Privacy Policy</a></li>
            <li><a href="https://housingdev2.lacity.org/AAHRDev/ComCon/Tab/RenderTab?tabName=Terms%20and%20Conditions">Terms & Conditions</a></li>
            <li><a href="https://housing.lacity.gov/about-us/media-center">Media Center</a></li>


            <li><a href="https://housing.lacity.org/about-us/accessibility">Accessibility</a></li>
            <li>

                <button data-toggle="modal" data-target="#BrowserSupportPopUp" class="SupportedBrowserButton btn btn-primary m-0 btn-pill font-15 pl-3 pr-3">
                    Supported Browsers
                </button>

            </li>
        </ul>
        <ul class="_SocialMedia flex-wrap">
            <li><a class="_Sm-facebook" aria-label="Facebook" href="https://www.facebook.com/LAHD/"><img alt="facebook" aria-hidden="true" src="~/images/facebook.svg" /></a></li>
            <li><a class="_Sm-instagram" aria-label="Instagram" href="https://www.instagram.com/LAHD"><img alt="instagram" aria-hidden="true" src="~/images/instagram.svg" /></a></li>
            <li><a class="_Sm-twitter" aria-label="Twitter" href="https://twitter.com/LAHD___"><img alt="twitter" aria-hidden="true" src="~/images/twitter.svg" /></a></li>
            <li><a class="_Sm-youtube" aria-label="Youtube" href="https://www.youtube.com/user/LAHDVideos"><img alt="youtube" aria-hidden="true" src="~/images/youtube.svg" /></a></li>





        </ul>
    </div>
    <div class="_FooterCenterBtm flex-wrap">
        <div class="_Disclaimer">
            <p class="Disclaimer-text">
                <strong class="mr-2">Email:</strong><a class="text-white" href="mailto:lahd.achp@lacity.org">lahd.achp@lacity.org</a>
            </p>
            <p class="Disclaimer-text">
                <strong class="mr-2">TTY:</strong>Due to technological changes, if TTY is needed to contact us, please use Telecommunication Relay Services (TRS) such as Text-to-Voice TTY-based TRS, Speech-to-Speech Relay Service, Shared Non-English Language Relay Services, Captioned Telephone Service; IP Captioned Telephone Service, Internet Protocol Relay Service, or Video Relay Service or dial 711.
            </p>
        </div>
        <div class="_FooterBtm ">
            <div class="_rightsreserved flex-wrap">
                <img class="_LAlogoBtm" src="~/images/footer-LA-logo.png" alt="City of Los Angeles logo" />

                <span class="inline-block"><span class="sr-only">&copy;</span>Copyright @DateTime.Now.Year City of Los Angeles </span>&nbsp;
                <span class="inline-block">Los Angeles Housing Department</span>
            </div>

        </div>
    </div>
</footer>



    <div class="modal fade" id="BrowserSupportPopUp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Supported Browsers</h1>
                <button type="button" class="close hide" data-bs-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="browsersupportdiv">
                    <h2> Upgrade your browser to the latest version.</h2>
                    <p class="browserstext">The following is a list of common browsers that are compatible with our website.</p>
                    <ul class="ml-3">
                        <li class="mg-btm-6px">Google Chrome</li>
                        <li class="mg-btm-6px">Mozilla FireFox</li>
                        <li class="mg-btm-6px">Microsoft Edge</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<style>
    ._hcidla-service-portal-footer ._FooterCenterBtm ._Disclaimer {
        padding-right: 65px !important; 
    }

    .blue-link {
        color: #0063CE;
    }
</style>
