@using DeveloperPortal.Domain.ProjectDetail
@model ContactRenderModel

@{
    List<SelectListItem> pAssociationList = new List<SelectListItem>();
    List<SelectListItem> associationList = new List<SelectListItem>();
    foreach (string item in Model.ContactTypeList)
    {
        associationList.Add(new SelectListItem { Text = item, Value = item });
    }
    if (!string.IsNullOrEmpty(Model.Type))
    {
        string[] associationTypes = Model.Type.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries).Select(x => x.Trim()).ToArray();
        foreach (string item in associationTypes)
        {
            pAssociationList.Add(new SelectListItem { Text = item, Value = item });
        }
    }
}
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>

<form asp-action="SaveContact"
      asp-controller="DevlopepmemtTeam"
      method="post"
      enctype="multipart/form-data"
      id="frmAddNewContact"
      class="formAddNewContact">



    <!-- Modal body -->
    <div class="modal-header">
        <h4 class="modal-title" id="PopupTitle"> Add New Contact</h4>

        <button type="button" class="close" data-bs-dismiss="modal"><i class="far fa-times-circle"></i></button>
    </div>
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.AddContactType)
        @Html.HiddenFor(m => m.CaseID)
        @Html.HiddenFor(m => m.ContactIdentifierID)
        @Html.HiddenFor(m => m.Source)
        @if (Model.ContactId == 0)
        {
            @Html.HiddenFor(m => m.APN)
            @Html.HiddenFor(m => m.ProjectId)
            @Html.HiddenFor(m => m.ProjectSiteId)
            <div class="related-information" style="margin-bottom:0px;display:none">

                @if (Model.ProjectId != 0)
                {
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input required-label" data-val="true" data-val-required="Please select contact identifier" id="Project" name="IdentifierType" value="Project" checked>
                        <label class="custom-control-label" for="Project">
                            Project
                        </label>
                    </div>
                }
                @if (Model.ProjectSiteId != 0)
                {
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input required-label" data-val="true" data-val-required="Please select contact identifier" id="ProjectSite" name="IdentifierType" value="ProjectSite" checked>
                        <label class="custom-control-label" for="ProjectSite">
                            Project Site
                        </label>
                    </div>
                }

                <br />
                <div class="clearfix"></div>
                @Html.ValidationMessageFor(e => e.IdentifierType, "", new { @class = "text-danger" })

                <div class="related-information identifierDropdown" style="margin-bottom:5px;">
                    <select class="form-control" id="identifierDropdown" name="IdentifierValue"></select>
                    @Html.ValidationMessageFor(e => e.IdentifierValue, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.HiddenFor(m => m.IdentifierValue, new { @id = "identifierHiddenText" })
        }
        else
        {
            @Html.HiddenFor(m => m.APN)
            @Html.HiddenFor(m => m.ContactId)
            @Html.HiddenFor(m => m.ContactAddressId)
            @Html.HiddenFor(m => m.OrganizationId)
            @Html.HiddenFor(m => m.PropContactId)
            @Html.HiddenFor(m => m.IdentifierType)
            @Html.HiddenFor(m => m.IdentifierValue)
            @Html.HiddenFor(m => m.ProjectId)
            @Html.HiddenFor(m => m.ProjectSiteId)
        }
        <div class="formdetails">
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group required" id="divAssociationTypes">
                        @Html.Label("Association", "Association", new { @class = "control-label" })
                         @Html.DropDownListFor(e => e.AssociationTypes, associationList, new { @class = "form-control", @multiple = "multiple" }) 
                        @Html.ValidationMessageFor(e => e.AssociationTypes, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" id="divPrimaryAssociationTypes">
                        @Html.Label("Primary", "Primary", new { @class = "control-label" })
                        <select asp-for="PrimaryAssociationTypes" asp-items="pAssociationList" multiple="multiple" class="form-control">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group required" style="display:none" id="divContractorType">
                        @Html.LabelFor(model => model.ContractorType, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.ContractorType, new List<SelectListItem> { new SelectListItem { Text = "General Contractor", Value = "General Contractor" }, new SelectListItem { Text = "Relocation Contractor", Value = "Relocation Contractor" }, new SelectListItem { Text = "Architect", Value = "Architect" } }, "Select", new { @id = "ContractorType", @class = "form-control notranslate", @lang = "en" })
                        @Html.ValidationMessageFor(model => model.ContractorType, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group required" style="display:none" id="divCASP">
                        @Html.LabelFor(model => model.CASpNumber, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.CASpNumber, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @placeholder = "CASP Number", @aria_required = "true" } })
                        @Html.ValidationMessageFor(model => model.CASpNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="related-information">
                    <fieldset>
                        <legend class="wraping_label required-label" style="font-size: 0.9rem !important;"> @Html.LabelFor(model => model.IsContactPublic, htmlAttributes: new { @class = "control-label" })</legend>
                        <div class="input-group yesno_radio" id="rdbtnCP" tabindex="-1">
                            <div class="custom-control custom-radio">
                                @Html.RadioButtonFor(x => x.IsContactPublic, true, new { @id = "rbtnCP_Yes", @class = "custom-control-input rbtn-cp" })
                                <label class="custom-control-label rbtn-cp" for="rbtnCP_Yes" id="lblCP_Yes">Yes</label>

                            </div>
                            <div class="custom-control custom-radio">
                                @Html.RadioButtonFor(x => x.IsContactPublic, false, new { @id = "rbtnCP_No", @class = "custom-control-input rbtn-cp" })
                                <label class="custom-control-label rbtn-cp" for="rbtnCP_No" id="lblCP_No">No</label>
                            </div>
                            @Html.ValidationMessageFor(model => model.IsContactPublic, "", new { @class = "text-danger" })

                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group ">
                        @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Middle Name" } })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Company, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control", @placeholder = "Company Name (optional)" } })
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.AddressLine1, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.AddressLine1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address Line 1" } })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.AddressLine2, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.AddressLine2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address Line 2" } })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", maxlength = 20, @placeholder = "City" } })
                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.State, new SelectList(Model.LutStateCDList, "Value", "Text"), "- Select -", new { @class = "form-control", @aria_label = "State" })
                        @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.Zip, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control", @placeholder = "Zip" } })
                        @Html.ValidationMessageFor(model => model.Zip, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.PhoneBusiness, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.PhoneBusiness, new { htmlAttributes = new { @class = "form-control", @placeholder = "Business Phone" } })
                        @Html.ValidationMessageFor(model => model.PhoneBusiness, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PhoneExtension, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.PhoneExtension, new { htmlAttributes = new { @class = "form-control", @placeholder = "Extension" } })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PhoneHome, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.PhoneHome, new { htmlAttributes = new { @class = "form-control", @placeholder = "Home Phone" } })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PhoneCell, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.PhoneCell, new { htmlAttributes = new { @class = "form-control", @placeholder = "Cell Phone" } })
                    </div>
                </div>
                <div class="col-md-8">@Html.ValidationMessage("contact-val-msg", new { @class = "text-danger" })</div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                    </div>
                </div>
            </div>
        </div>

        <div class="related-information checkboxdiv">
            <div class="custom-control custom-checkbox">
                @Html.CheckBoxFor(model => model.IsMarkedForMailing, new { @class = "custom-control-input" })
                <label class="custom-control-label" for="IsMarkedForMailing">
                    Please send mail to this address; it is not the primary address of this contact.
                </label>
            </div>
            <div class="custom-control custom-checkbox" style="display:none;">
                @Html.CheckBoxFor(model => model.IsPrimary, new { @class = "custom-control-input" })
                <label class="custom-control-label" for="IsPrimary">
                    This is the primary address for this contact; please send mail about the property to this address.
                </label>
            </div>
        </div>
    </div>
    <!-- Modal footer -->
    <div class="modal-footer multi-button">
        <button id="btnclose" type="button" data-bs-dismiss="modal" class="btn btn-light">Close</button>
        @if (Model.ContactIdentifierID == 0)
        {
            <button id="btnAdd" type="submit" class="btn btn-primary">Add</button>
        }
        else
        {
            <button id="btnSave" type="submit" class="btn btn-primary">Save</button>
        }
    </div>
</form>

<script>
    $(document).ready(function () {
    DevelopmentTeam.Init("@Model.Type","@Model.PrimaryTypes");

        $('#PhoneHome').mask('(000) 000-0000');
        $('#PhoneBusiness').mask('(000) 000-0000');
        $('#PhoneCell').mask('(000) 000-0000');
        $('#Zip').mask('00000');
    });


</script>
