@model DeveloperPortal.Domain.ProjectDetail.ProjectSummaryModel
<style>
    .site-more-info {
        padding-top: 0px;
         padding-bottom:10px;
        margin-top: 0px;
    }</style>
<div class="accordion" >
    @{
        <div class="row GridviewViewRow">
            <div class="col-sm-12">
                <gridv>
                    <div class="card penal-details backgroundwhite dataTable-changes" id="accheader">
                        <div class="card-header accordion-header" style="cursor: default;    background-color: #113F67 !important;">
                            <div style="padding: 10px 0px;">
                                <span class="card-header-title" style="    font-weight: bold;color:white">
                                    <span class="bold">ProjectName :</span><span class="cd-value"> @Model.ProjectName</span> &nbsp;&nbsp;
                                </span>
                            </div>
                            
                        </div>
                        <div class="card-body table-content" id="divSummaryView" style="position: relative;">
                            <div class="Case-details Case-addrees" style="border: solid 0px #ddd !important;margin-bottom: 0px; padding: 0px 15px; display:flex">
                                <div class="col-md-12" style="padding-left:5px;padding-right:5px;">
                                    <div class="row">
                                        <div class="col-sm-12">

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="row-box">
                                                        <span class="row-title left-border">Address</span>
                                                        <span class="row-text"> @Model.SiteAddress</span>

                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="row-box">
                                                        <span class="row-title lelf-border"> ACHP # </span>
                                                        <span class="row-text">
                                                            @Model.AcHPFileProjectNumber
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="row-box">
                                                        <span class="row-title lelf-border">Project #</span>
                                                        <span class="row-text">@Model.ProjectServiceRequestNumber</span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="row-box">
                                                        <span class="row-title lelf-border"> Type of Occupancy </span>
                                                        <span class="row-text">@Model.TypeOfOccupancy </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="row-box">
                                                        <span class="row-title lelf-border">Status</span>
                                                        <span class="row-text">@Model.Status</span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="row-box">
                                                        <span class="row-title lelf-border"> Covenant Expiration Date </span>
                                                        <span class="row-text"> N/A</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="row-box">
                                                        <span class="row-title lelf-border">Type of Construction Project</span>
                                                        <span class="row-text">@Model.CaseType </span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="row-box">
                                                        <span class="row-title lelf-border"> HIMS # </span>
                                                        <span class="row-text">@Model.HIMSNumber</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="row-box">
                                                        <span class="row-title lelf-border">Assignee</span>
                                                        <span class="row-text">@Model.AssigneeName </span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="row-box">
                                                        <span class="row-title lelf-border"> LA County Assessors </span>
                                                        <span class="row-text"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 Case-deatils Case-addrees" id="divProjectActionsContainer" style="margin-bottom:0px;display:none">
                                    <span class="site-more-info">Project Actions</span>

                                    <div id="divProjectActions" style="    display: contents;">
                                     
                                    </div>
                                    <a href="javascript:void(0);" modal-data="/comcon/FormComponent/ActionViewFormPart?actionName=Assign for Review&amp;caseId=25662&amp;formId=3459" onclick="OpenActionPopUp(this, false)">Edit Project Information</a>
                                    <a href="javascript:void(0);" modal-data="/comcon/FormComponent/ActionViewFormPart?actionName=ReAssign&amp;caseId=25662&amp;formId=3444" onclick="OpenActionPopUp(this, false)">Add Floor Plan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </gridv>
            </div>

        </div>
    }
</div>

<script type="text/javascript">
      $(document).ready(function () {
      ProjectInformation.projectActions();
      });
</script>
