@model DeveloperPortal.Domain.ProjectDetail.ProjectSummaryModel
<style>
    .tooltip-p .tooltip-s {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
        opacity: 1 !important;
    }


    .tooltip-p .tooltiptext {
        visibility: hidden;
        width: 400px;
        background-color: #135b79;
        color: #fff;
        text-align: left;
        border-radius: 6px;
        padding: 5px 5px;
        /* Position the tooltip */
        position: absolute;
        z-index: 1 !important;
    }

    .tooltip-s .tooltiptext {
        visibility: hidden;
        width: 400px;
        background-color: #135b79;
        color: #fff;
        text-align: left;
        border-radius: 6px;
        padding: 5px 5px;
        /* Position the tooltip */
        position: absolute;
        z-index: 1 !important;
    }

    .tooltip-p:hover .tooltiptext {
        visibility: visible;
    }

    .tooltip-s:hover .tooltiptext {
        visibility: visible;
    }
</style>

<div class="accordion" id="accfolder">
    @{
        <div class="row GridviewViewRow">
            <div class="col-sm-12">
                <gridv>
                    <div class="card penal-details backgroundwhite dataTable-changes" id="accheader">
                        <div class="card-header accordion-header" style="cursor: default;    background-color: #003399 !important;">
                            <div>
                                 <span class="card-header-title" style="    font-weight: bold;color:white">
                                    <span class="bold">ProjectName :</span><span class="cd-value"> @Model.ProjectName</span> &nbsp;&nbsp;
                                 </span>
                            </div>
                            <div style="padding: 5px;">
                                <button type="button" class="btn btn-primary no-access m-0">
                                    Edit Project Information
                                </button>
                            </div>
                        </div>
                        <div class="card-body table-content" id="divSummaryView" style="position: relative;">
                            <div class="Case-details Case-addrees" style="border: solid 0px #ddd !important;margin-bottom: 0px; padding: 0px 15px;">
                                <div class="row">
                                    <div class="col-sm-12">

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="row-box">
                                                    <span class="row-title left-border">Address</span>
                                                    <span class="row-text"> @Model.SiteAddress</span>

                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row-box">
                                                    <span class="row-title lelf-border"> ACHP # </span>
                                                    <span class="row-text">
                                                         @Model.AcHPFileProjectNumber</span>
                                                </div>
                                            </div>
                                        </div>
                                        <br />

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="row-box">
                                                    <span class="row-title lelf-border">Project #</span>
                                                    <span class="row-text">CNCP202491  Model.AcHPFileProjectNumber</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row-box">
                                                    <span class="row-title lelf-border"> Type of Occupancy </span>
                                                    <span class="row-text"> Special Needs</span>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="row-box">
                                                    <span class="row-title lelf-border">Status</span>
                                                    <span class="row-text">@Model.Status</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row-box">
                                                    <span class="row-title lelf-border"> Covenant Expiration Date </span>
                                                    <span class="row-text"> N/A</span>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="row-box">
                                                    <span class="row-title lelf-border">Type of Construction Project</span>
                                                    <span class="row-text">@Model.CaseType </span>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row-box">
                                                    <span class="row-title lelf-border"> HIMS # </span>
                                                    <span class="row-text">@Model.HIMSNumber</span>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="row-box">
                                                    <span class="row-title lelf-border">RCS Assignee</span>
                                                    <span class="row-text">@Model.RCSAssignee </span>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row-box">
                                                    <span class="row-title lelf-border"> LA County Assessors </span>
                                                    <span class="row-text">5119003002</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </gridv>
            </div>
        </div>
    }
</div>
