@page
@model DeveloperPortal.Pages.ProjectDetails.IndexModel
@{
    ViewData["Title"] = "Project Details";
}
<style>
    .table-responsive .row {
        margin-bottom: 15px;
    }

    .datatbl {
        width: 100% !important;
    }

    #tabSiteInformation .pagination {
        display: list-item !important;
        text-align: start;
    }

    #tabSiteInformation .paginate_button a {
        margin-left: -5px !important;
    }

    #tabSiteInformation .paginate_button:first-child a {
        margin-left: -5px;
    }
</style>
<link rel="stylesheet" href="https://cdn.rawgit.com/enyo/dropzone/master/dist/dropzone.css">
<script src="https://cdn.rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>

<script src="~/"></script>
<script src="~/js/kendojs/kendo.all.min.js"></script>
<script src="~/js/kendojs/kendo.timezones.min.js"></script>


<link href="https://kendo.cdn.telerik.com/themes/6.6.0/default/default-main.css" rel="stylesheet" />
<link href="~/content/kendocss/kendo.custom.css" rel="stylesheet" />
<div class="row custom_row_margin">

    <div id="workFlowDiv" class="col-md-12 position-relative">
        <h1 class="fs-title">
            @Model.TabName
        </h1>

        <div class="page-title left-data" id="divCollapseAll">
            <ul class="quick-action-link noprint">
                <li id="CollapseAll" class="mr-2">
                    <button type="button" class="btn btn-primary ">
                        <span height="20" width="20" id="CollapseIn">Action buttons<span class="fas fa-chevron-up"></span></span>
                    </button>
                </li>
            </ul>
        </div>
    </div>

</div>
<div>
    @{
        Html.RenderPartial("_ProjectSummary", Model.ProjectSummary);
    }
</div>

<br />
<!-- Tab links -->
<div class="tab">
    <button class="tablinks active" onclick="openTab(event, 'tabProjectInformation')" id="btnProjectInformation">Project Information </button>
    <button class="tablinks" onclick="openTab(event, 'tabSiteInformation')" id="btnSiteInformation">Site Information </button>
    <button class="tablinks" onclick="openTab(event, 'tabProjectParticipants')">Project Participants</button>
    <button class="tablinks" onclick="openTab(event, 'tabImportantDates')">Funding Source</button>
    <button class="tablinks" onclick="openTab(event, 'tabDocuments')">Documents</button>
    <button class="tablinks" onclick="openTab(event, 'tabLogs')">Plan Review</button>
</div>
<style>
    #unitKgrid .k-grid-add {
        margin-right: 100px;
    }

    .k-grid-content tr:last-child {
        border-bottom: solid 1px lightgray;
    }
</style>
<!-- Tab content -->
<div id="tabProjectInformation" class="tabcontent" style="display: block ">
    @{
        Html.RenderPartial("_ProjectInformation");
    }
</div>
<div id="tabSiteInformation" class="tabcontent">
    <table id="dtSiteData"></table>
</div>
<div id="tabImportantDates" class="tabcontent">
    <div id="divImportantDates"></div>
</div>
<div id="tabProjectParticipants" class="tabcontent">
    <div id="divProjectParticipants"></div>
</div>
<div id="tabPolicyContacts" class="tabcontent">
    <div id="divPolicyContacts"></div>
</div>
<div id="tabDocuments" class="tabcontent">
    <div id="divDocument"></div>
</div>
<div id="tabLogs" class="tabcontent">
    <div id="divLogs"></div>
</div>
<script type="text/javascript">
    var baseUrl = window.location.origin;
    var Id = @Model.Id
    var ProjectId = @Model.ProjectId
    var isEditAccess = true;
    var reloadUntiGrid = false;
    var documentControlViewModelId = 7313;
    var logsControlViewModelId = 1006;
    var ContactControlViewModelId = 1028;
    var PolicyContactControlViewModelId = 12505;
    var popupCaseId = 0;
    var popuprefProjectSiteID = 0;
    var popupTitle = "";
    var oldPageSize = 0;
    var selectedEvents = [];

    var SiteInformationData = [];
    var IsLoadSiteInformationTab = false;
    console.log("Model.ProjectId: " + ProjectId);
    //Load on init
    LoadProjectInformation();
   
    function openTab(evt, tabName) {
        // Get all elements with class="tabcontent" and hide them
        $(".tabcontent").css("display", "none");
        // Get all elements with class="tablinks" and remove the class "active"
        $(".tablinks").removeClass("active");
        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        if (evt) { evt.currentTarget.className += " active"; }
        var url = "";

        switch (tabName) {
            case "tabSiteInformation":
                LoadSiteInformation();
                break;
            case "tabImportantDates":
                url = '@Url.Action("ImportantDates", "Construction", new { area = "Construction" })?id=' + Id;
                LoadTabData(url, "divImportantDates");
                break;
            case "tabProjectParticipants":
                console.log("Id: " + Id);
                url = '@Url.Action("RenderContactById", "ProjectDetail", new { area = "ComCon" })?Id=' + Id + '&projectId=' + ProjectId + '&controlViewModelId=' + ContactControlViewModelId;
                LoadTabData(url, "divProjectParticipants");
                break;
            case "tabPolicyContacts":
                url = '@Url.Action("RenderContactById", "Render", new { area = "ComCon" })?Id=' + Id + '&projectId=' + ProjectId + '&controlViewModelId=' + ProjectId;
                LoadTabData(url, "divPolicyContacts");
                break;
            case "tabDocuments":
                url = '@Html.Raw(Url.Action("GetFilesByIdNew", "DMS", new { area = "Document" }))' + '?projectId=' + ProjectId;
                console.log(url);
                LoadTabData(url, "divDocument", true);
                break;
            case "tabLogs":
                url = '@Url.Action("RenderActivityLogsById", "ActivityLogsComponent", new { area = "ComCon" })?Id=' + Id + '&projectId=' + ProjectId + '&controlViewModelId=' + ProjectId;
                LoadTabData(url, "divLogs");
                break;
            default:
        }
    }

    function LoadTabData(url, tabId, forceLoad = false) {

        if ($("#" + tabId).html() == "" || forceLoad) {
        $.ajax({
            url: url,
            type: "GET", // or "POST"
            success: function (response) {
                $("#" + tabId).html(response);
            },
            error: function (xhr, status, error) {
                console.log("Error:", error);
            }
        });
         }
     }

    /*function LoadTabData(url, tabId, forceLoad = false) {
        //return;
        if ($("#" + tabId).html() == "" || forceLoad) {
            AjaxCommunication.CreateRequest(this.window, "GET", url, "", null,
                function (result) {
                    $("#" + tabId).html(result);
                }, null, true, null, false);
        }
    }*/

    /*Start Project Site Data table */
    function LoadSiteInformation() {
        if (IsLoadSiteInformationTab) {
            return;
        }
        
        $.fn.dataTableExt.pager.numbers_length = 50;
        var dtSiteDataTable = $('#dtSiteData').dataTable({
            ajax: {
                url: '@Url.Action("GetSiteInformations", "ProjectDetail", new { })',
                type: 'POST',
                data: function (d) {
                    d.SiteInformationData = SiteInformationData,
                        d.caseId = Id

                },
                "headers": {
                    "Content-Type": "application/x-www-form-urlencoded"
                },
                dataType: 'json'

            },
            "columns": [
                {
                    "data": 'siteInfomationData'
                }
            ],
            processing: true,
            serverSide: true,
            pagingType: 'numbers',
            pageLength: 1,
            "paging": true,
            "searching": true,
            "ordering": false,
            "dom": "<'row'<'<'col-sm-12'p>>",
            "oLanguage": {
                "sEmptyTable": "No record found."
            }
        });
        dtSiteDataTable.on('draw.dt', function () {
            if ($(".select-site-title").length == 0) {
                $("#dtSiteData_paginate").prepend("<div class='select-site-title'>Select Site:</div>")
            }

            $(".dataTables_length").hide();
            var siteData = $('#dtSiteData').dataTable().fnGetData();

            var siteLength = siteData.length;
            if (siteLength > 0) {
                $("#dtSiteData_paginate").show();
                documentControlViewModelId = siteData[0].documentControlViewModelId;
                logsControlViewModelId = siteData[0].logsControlViewModelId;
                ContactControlViewModelId = siteData[0].contactControlViewModelId;
                SiteInformationData = siteData[0].siteInformationData;
                var pageItems = $("#tabSiteInformation .paginate_button");
                var siteList = siteData[0].siteList;
                for (var i = 0; i < pageItems.length; i++) {
                    var item = $(pageItems[i]).children("a")
                    if (item.text() != '…') {
                        if (parseInt(item.text()) !== NaN) {
                            $(item).text(siteList[parseInt(item.text()) - 1]);
                        }
                    }
                }
                $("#btnSiteInformation").text("Site Information (" + siteList.length + ")");
            }
            else { $("#dtSiteData_paginate").hide(); }
        });
        $("#siteInformationPopup").on("hide.bs.modal", function (e) {
            if ($(e.target).attr("id") !== "siteInformationPopup") {
                $('#siteInformationPopup').modal("show");
            }
        })
        $("#siteInformationPopup").on("hidden.bs.modal", function (e) {
            if ($(e.target).attr("id") !== "siteInformationPopup") {
                $('#siteInformationPopup').modal("show");
            }

        })
        IsLoadSiteInformationTab = true;
    }
    /*End Project Site Data table */
</script>